* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, select {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serifß;
}

header {
  /* position: fixed; */
  width: 100%;
  top: 0;
  z-index: 1;
  background: rgba(150, 150, 150, 0.5);
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: right;
}

.params {
  background: white;
  padding: 0 3rem;
}

.input {
  display: flex;
  gap: 1rem;
}
.input label {
  user-select: none;
  cursor: pointer;
  color: red;
}
.input input:checked + label {
  color: green;
}

.input input {
  display: none;
}

.main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  max-height: 100vh;
}
.html {
}
.json {
  grid-column: 2;
  grid-row: 1 / -1;
}
.resize {
  height: 100%;
  width: 5px;
  background: red;
  cursor: col-resize;
}
.render {
  overflow: scroll;
  grid-row: 2;
  grid-column: 1;
}


select{
  width: 100%;
  margin-inline: 0 auto;
  padding: 0.5rem;
}

input[type="checkbox"]{
  scale: 1.5;
}

.ReactModal__Content{
  max-height: 95vh !important;
  width: 95vw !important;
}

.ReactModal__Content__body {
  max-height: calc( 95vh - 60px ) !important;
}